*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
 html{
    scroll-behavior: smooth ;
    overflow: hidden;

 } 


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow: hidden;
    min-height: 100%;
    max-height: 120%;

    background-color: #0e49a8c2; 
    /* background-color: #0e77a86b;  */

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior: auto;

}

@media(min-width:600px)
{
    body{
       
    }
    .maincontent{
        max-width: 650px    ;
    }
    .skmaincontent{
        max-width: 650px    ;
    }

   
}

@keyframes zoomies{
    
    0%{
        background-color: var(--clr-dark);                       
    }
     85%{
        background-color: #747474;                       
    }
    100%{
        background-color: #9F9F9F;
    }
   
}

@keyframes zoomies2{
    
    0%{
        background-color: #6e6e6e;  
        color: white;                     
    }
     85%{
        background-color: #9F9F9F; 
        color: white;                           
    }
    100%{
        background-color: #6e6e6e;  
        color: white; 
    }
   
}

@keyframes zoomies6{
    
    0%{
        background-color: #ff7f5075;  
    }
     85%{
        background-color: transparent; 
    }
    100%{
        background-color: #ff7f5075;
    }
   
}

@keyframes zoomiesh{
    
    0%{
        transform: scaleY(0);
    }
    /* 50%{
        height: 0.5;
    } */
     
    100%{
        transform: scaleY(1);
    }
   
}
.addedclass3{
animation: zoomskill 1s linear;
}
/* .addedclass3delay{
    animation: zoomskill 1s linear;
    } */

@keyframes zoomskill{
    
    0%{
        transform: translateX(100%);
    }
     
    100%{
        transform: translateX(0%);
        
    }
   
}


.but1{
    /* animation: zoomies3 2s ease-in; */

}
.but2
{
    /* animation: zoomies3 2.6s ease-in; */
}
.buttn{
    text-shadow: 1px 1px 2px #c1c1c1c9;

}



header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    display: none;
}
            @media (max-width: 600px)
            {
                header {
                
                   min-height: 3.2em;
                  /* background-color: rgb(68, 68, 68);  */
                  background-image: linear-gradient(45deg,#414141,#414141,#414141,black,#414141,#414141,#414141);
                  background-size: 400%;
                  
                  animation: zoomies 8s infinite alternate-reverse;
                }    
                
                /* @keyframes zoomies{
                    0%{
                        background-color: #f5f5f5;
                    }
                    100%{
                        background-color: #3777d6;                       
                    }
                } */
            }     

            .wrp{
                background-color: #d1d1d190;
                padding: 2px;
                width: 90%;
                margin-left: auto;
                margin-right:auto  ;
                margin-top: 90px;

                border: 2px solid #6969699f;
                border-top: 1px solid #ffffff93;
                border-bottom:1px solid #ffffff93;
                border-radius: 6px;

                box-shadow: 4px 8px 6px 2px rgba(128, 128, 128, 0);
                /* transition: 200ms; */

            }
            
            .addedclass{
                animation: zoomies3 0.8s ease-in;
            }
            .addedclass2{
                animation: zoomheight 0.4s ease-in;
            }
            .resDown{
                /* background-color: red; */
                
            }
            .Myres
            {   
                max-width: 1000px;
                text-align: center;
                margin:auto;
                height:fit-content;
                padding-bottom: 0vh;
                padding-top: 8vh;
                height: 100vh;
               
                /* animation: zoomies 2s ease-in; */
            }
            
            .Res
            {
            }       

            @media(max-width:600px)
            {
                .wrp
                {
                    /* animation: zoomiesh 0.6s ease-in;  */
                }
                .Res
                {
                    
                    padding-top: 1.6em;;
                }
            }

            @media(min-width:600px)
                {
                    h2.section__title--Res
                    {
                        padding: 1em;
                        margin-top: 0em;
                        transition: 3s ease-in;
                        
                        border-right: 0;
                        margin: 10px;
                       
                    }
                    
                    .but1{
                        padding: 4em;
                        /* animation: zoomies3 1.8s ease-in; */
                    }
                    /* .but2
                    {
                        animation: zoomies3 1.8s ease-in;
                    } */
                
                }

                    .buttn
                    {   
                        background-color:#4e82caa2;
                        color: var(--clr-dark);
                        margin-top: -1.5em;
                        margin-bottom: 1em;
                        padding:18px;
                        white-space:nowrap;
                        font-weight: 570;
                        border-radius: 4px;
                        margin:8px;
                        /* font-size: 20px; */
                        font-size: 1.4em;
                        cursor: pointer;
                        text-decoration: none;
                        border:2px solid #30303096;     
                        border-top:2px solid transparent;
                        border-left:2px solid transparent;      
                        display: inline-block;
                        padding: 20px 0px;
                        width: 46%;
                        box-shadow: 2px 4px 5px 0px #46464671;
                        transition: 0.3s;
                        /* color: #0a3962; */
                    }

                    @media(min-width:600px)
                    {
                        .buttn
                        {
                            padding: 2em;
                        }
                    }

                    .buttn:hover
                    {
                        border:2px solid #30303067;
                        border-bottom:2px solid transparent;
                        border-right:2px solid transparent;
                        background-color: #386992bc;  /*#d6a78d*/
                        box-shadow: 0px 0px 0px 0px ;
                        
                    /*    transform:scale(0.98);    */
                    }
                    @media (max-width: 600px)
                    {
                    
                        .Myres 
                            {
                            height: 90%;
                            padding-bottom: 2em;
                            /* animation: zoomies 4s ease-in; */
                            
                            }
                        .buttn
                            {
                                display: block;
                                width:60%;
                                margin:10px;
                                margin-left: auto;
                                margin-right: auto;
                                margin-bottom: 5px;
                                width: 95%;
                                /* font-size: large; */
                                padding: 18px 0px;
                                
                                white-space:nowrap;


                            }

                            .buttn:hover{
                                transform: scale(0.95);
                            }
                            /* .but1{
                                animation: zoomies3 2s ease-in;
                            }
                            .but2{
                                animation: zoomies3 2.6s ease-in;
                            } */
                            .section__title--Res
                            {
                                width: 95%;
                                margin:auto;
                                margin-top: 8px;
                                margin-bottom: 8px;
                                background-color: #ffffff15;
                                transition: 300ms;
                                border-right: 0px;
                        animation: zoomies3 1.4s ease-in;

                            }
                            .section__title--Res:hover{
                            }
                        
                    } 

                    @keyframes zoomies3{

                        0%{
                            width: 0;
                            color: transparent;
                            text-shadow: none;
                            
                        }
                        60%{    
                            color: transparent;
                            text-shadow: none;

                        }
                        85%{

                            color: transparent;
                            text-shadow: none;

                        }
                        100%{
                            width: 1;
                            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.622);
                        }
                        
                    }
                    @keyframes zoomheight{

                        0%{
                            transform: scaleY(0);
                        }
                        60%{    

                        }
                        85%{
                            /* transform: scaleY(0.4); */
                        }
                        100%{
                            transform: scaleY(1);
                        }
                        
                    }

                    .wrp h2{
                        font-size: 2em;
                    }

.kuchb
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    position: relative;
    font-size: x-large;
    width: 100%;
    /* background-color: #6e6e6e83;   */
    background-color: #26262681;  
    color: white; 
    align-content: center;
    border-bottom: 1px solid #30303048;
    padding: 10px;
}

.set{
  background-color: #75aaff;
  height: 200px; 
  position: inherit;
}

.cloud{
height: 60px;
width: 120px;
opacity: 60%;
position: absolute;
left:-40%;
animation: zoom 11s infinite linear, 12s loadclouds ease-in ;
pointer-events: none;
}
.cloud1{
    scale: 0.7;
    top:240px;
    animation-duration: 61s;
    
}
.cloud2{
    scale: 1.6;
    top:140px;
    animation-duration: 45s;
}
.cloud3{
    scale: 1;
    top:410px;
    animation-duration: 76s;
}
.cloud4{
    scale: 2;
    top: 290px;
    animation-duration: 51s;
}

.cloud5{
    scale: 1.4;
    top:350px;
    animation-duration: 27s;
    left: -44;
}
.cloud6{
    scale: 0.8;
    top:600px;
    animation-duration: 36s;
    left: -60;
}
.cloud7{
    scale: 1.2;
    top:110px;
    animation-duration: 40s;
    left: -30;
}


@keyframes zoom{
    from{}
    to{
        left: 130%;
    }
}

@keyframes loadclouds{
    from{opacity: 0;}
    to{
        opacity: 1;
    }
}

.kuchb strong{
    font-size: x-large;
}

.kuchb p{
    /* background-color: #b4afafbd; */
    background-image: linear-gradient(55deg,#335cc434,#6e93dc,#3266bab4,#051b7a00);
    width: 85%;
    color: #ffffffb9;
    /* font-family:sans-serif; */
    font-size: 20px;
    text-shadow: 2px 2px 2px #000000fb;
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 40px;
    /* border-bottom: 2px solid #3030308a; */
    border-right: 2px solid #156684a0;
    /* border-top: 1px solid #fdf9f963; */
    border-left: 2px solid #e4e4e45b;
    border-radius: 24px;
    background-size: 400% ;
    animation: flash 10s infinite alternate ease-in;
}

@media(max-width:325px)
{
    .kuchb p{
        font-size: 14px;
    }
    .kuchb strong{
        font-size: 18px;
    }
}

@keyframes flash{
    
    0%{
        background-position: left;
    }
  
    100%{
        background-position: right;
       
    }
   
}


.maincontent{
    padding:10%;
    flex: 1 1 80%;
    min-height: 100vh;
}
.skmaincontent{

    padding: 6%;
    padding-top: 35%;
    flex: 1 1 80%;
    min-height: 100vh;
}
.hobtitle{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: #d3cfcf;
    text-shadow: 2px 2px 2px black;
    /* border-radius: 30%; */
    padding: 4px 0px;
    background-color: #f5f5f536;

    background: linear-gradient(90deg,#f5f5f500 10%, #50505052 40%, #50505052 60%, #f5f5f500 100%);

}

.wrap{
display: grid;
height: auto;
grid-template-rows: repeat(6, 100px);
grid-template-columns: repeat(3, 33%);
grid-gap: 4px;
overflow-x: wrap;
}

.skwrap{
    display: grid;
    height: auto;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(3, 33%);
    grid-gap: 4px;
    overflow-x: wrap;
    }

.fa-user{
    scale: 2;
    display: block;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.fa-briefcase{
    scale: 1.4;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.fa-file{
    scale: 1.8;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.fa-heart{
    scale: 1.4;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}
.fa-star{
    scale: 1.4;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}


.fa-user-graduate{
    scale: 1.6;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.fa-cloud{
    scale: 1.6;
    opacity: 0.8;
    color: #6395e6;
    text-shadow: 0px 1px 10px #000000fe;    
    /* text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000; */
    transition: 6s;
    position: absolute;

    /* animation: launch 20s ease-in-out; */
}


/* @keyframes launch{
    
    0%{
        transform: translateY(0px);
    }
  
    25%{
        transform: translateY(3px);
    }

    50%{
        transform: translateY(-5px);
    }
  
    75%{
        transform: translateY(3px);
       
    }
    100%{
        transform: translateY(0px);
       
    }
   
} */

.fa-envelope{
    scale: 2;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    transition: 1s;
}
.fa-envelope:hover{scale: 2.3;}



.fa-linkedin{
    scale: 2.2;
    color: white;
    text-shadow: 0.7px 1px 1px #000000;
    transition: 1s;

}
.fa-linkedin:hover{scale: 2.5;}

.fa-github{
    scale: 2.2;
    color: white;
    text-shadow: 0.5px 1px 1px #000000;
    transition: 1s;
}
.fa-github:hover{
    scale: 2.5;
}

.fa-phone{
    scale: 1.6;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

i{
    display: block;
}

.reb{
    position: absolute;
    top: 0;
    padding: 5px;
    background-color: #0e77a844;
    width: 100%;
    border-radius: 4px;
    text-align: center;
}
.rea{
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: #0e77a844;
    width: 100%;
    text-align: end;
    border-radius: 4px;
}

.small a{
    position: absolute;
    bottom: 6%;
}
.medium a{
    position: absolute;
    bottom: 22%;
}

.tall a{
    position: absolute;
    bottom: 22%;
}


.long a{
    /* border-bottom: 1px solid #3e3e3ea0; */
    border-right: 3px solid #16607b;
    border-left: 3px solid #aac0dda0;
    padding: 1rem;
    margin: 0px 2px;
    border-radius: 35%;
    transition: 1s;
    margin: 0px 6px;
}

.long a:hover{
    background-color: #18477079;
    border-right: 3px solid #103454;
    border-left: 3px solid #aac0dda0;
    /* margin: 0px 10px; */
    padding: 24px;
}

.item{
    /* margin: 2px; */
display: flex;
justify-content: center;
align-items: center;
background: #5f94cd57;
/* box-shadow: 2px 2px 1px #eeeeee67; */

backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 2px;

/* border-right: 2px solid rgba(135, 166, 234, 0.618);
border-bottom: 2px solid rgba(135, 166, 234, 0.618); */

border-left: 2px solid #87a6ea64;
border-top: 2px solid #87a6ea64;
border-right: 2px solid #15151564;
border-bottom: 2px solid #15151564;

color: whitesmoke;
font-weight: 100;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-shadow: 2px 2px 1px black;

justify-content: center;
align-items: center;
transition: 0.5s ease-in-out;
z-index: 2;
}

.item:hover:not(.plan){
    background-color: #2571dc8e;
    transition: 1s;
    
}

.item.plan{
background-color: #00000065;
backdrop-filter: blur(0px);
position: relative;
border-right: 2px solid #15151534;
border-bottom: 2px solid #15151534;
}

.item2{
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #52729479; */
    background-color: #144c9a74;

    /* background: #d0d0d08e; */
    /* background: linear-gradient(170deg,#1f63b100 40%, #50505052 100%); */

    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 8px;

    border-left: 4px solid #87a6ea64;
    border-top: 4px solid #87a6ea64;
    border-right: 4px solid #1515155a;
    border-bottom: 4px solid #1515155a;

    /* font-weight: 100; */
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 12px;

    color: #c2c2c2;
    text-shadow: 1px 1px 1.5px hsl(0, 0%, 0%);

    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.item2:hover{
    background-color: #1f57a629;
    transition: 1s;
    
}

.moto{
    /* padding-left: 20px; */
}


.plan:hover .fa-cloud{
    animation: launch 4s ease-in-out;
}


@keyframes launch{
    
    0%{
        transform: translateX(0%);
    }
  
    25%{
        transform: translateX(1000%);
        
    }

    30%{
        opacity: 0;
    }

    41%{opacity: 0;
        transform: translateX(-900%);
        
    }
    55%{opacity: 0.8;}
  
    100%{
        transform: translateX(0%);
       
    }
   
}



.bb{
font-weight: 500;
}


.item.medium{
    grid-row: span 2;
    grid-column: span 2;
}
.item.wide{
    grid-column: span 2;
}
.item.tall{position: relative;
    grid-row: span 2;
}
.item.long{
    grid-column: span 3;
}


@media(max-width:600px)
{
    .upp{
        border: 4px solid white;
        transform: scale(0.65);
        box-shadow:0px 0px 40px 5px black;
        color: whitesmoke;
    }
    .upp:hover{
        transform:scale(0.46);
        box-shadow: 3px 5px 100px 10px black;
    }
}


.item1{
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;

    color: black;

    /*centering the icon*/
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes msgboio
{
    0%
    {
        opacity: 0;
       
    }

    80%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
        
    }
}



.MenuR2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #235d83; */
    background-color: #0e49a8c2;
    background: linear-gradient(130deg,#7676766e 45%, #1139c852 80%);
    backdrop-filter: blur(10px);
    transform: translateX(100%);


    z-index: 5;
}
.swii{
    scale: 2;
    box-shadow: 0px transparent;
    color: #dddddd;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

/* .gridco1{
    background-color: #6980aeb0;
}

.gridco2{
    background-color: #1958875a;
} */

.MenuR{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #0e49a8c2;
    background: linear-gradient(180deg,#597cb0 45%, #163e58f9 100%); */
    background-color:#484c5188;
    backdrop-filter: blur(10px);

    transform: translateX(100%);

    z-index: 5;
}

.MenuR h2{
margin-left: 2em;
}

ul.Abtli{
    padding: 2px 2px 2px 14px;
    margin-top: 25px;
}

.Abtli li{
    padding: 14px;
    background-color: #31313100;
    text-shadow: 1px 1px 1px black;
    /* min-height: 80px; */
    backdrop-filter: blur(7px);
    margin: 18px 6px;
    list-style: none;
    color: white;
    border-radius: 15px;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    /* border-right: 5px #818181ab solid; */
    box-shadow: 3px 3px 8px #0b0b0b98;
    /* border-top: 1px #9f9f9f solid; */

}

.Menuski{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    background-color:#2c7ab638;
    backdrop-filter: blur(10px);

    transform: translateX(100%);

    z-index: 5;
}

.Skillli{
background-color: #48444442;
height: 100vh;
}

.Skillli li{
    padding: 14px;
    background-color: #31313109;
    text-shadow: 1px 1px 1px black;
    backdrop-filter: blur(4px);
    margin: 18px 6px;
    list-style: none;
    color: white;
    border-radius: 15px;
    font-size: 0.9em;
    font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    box-shadow: 3px 3px 8px #0b0b0b98;
    display: inline-block;
}

ul.Skillli{
    padding: 2px 2px 2px 14px;
    Padding-top: 2em;
    margin: 0px 0px 0px;

}

.skillt{
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #c6c6c673;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* font-style: italic; */
}

.skill2{
    padding: 0px 0px 0px 15px;
}
.skill2 li{
    background-color: #3b3b3b3a;
}

/* .framew li{
    display: inline-block;
} */
.slideani{

}

.R3toL .Menuski{
    transform:translateX(0);
    transition: 0.2s linear;
}

.MenuL{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #0e49a8c2;
    background: linear-gradient(120deg, #102a4ce6 40%, #607590 100%); */
    background: linear-gradient(130deg,  #214a80bb 25%, #4b596b66 100%);
    backdrop-filter: blur(10px);

    transform: translateX(-100%);

    z-index: 5;
}

.maincontentM{
    background-color: #3b7fac;
    margin: 8%;
    /* height: 65vh; */
    padding:10%;
    flex: 1 1 80%;
    min-height: 80vh;
    border-radius: 6px;
}





.backbtn{
    /* padding: 10px;
    /* background: #1e2f3c44; */
    background: linear-gradient(180deg, #00000000 60%, #23232368 100%);    
    font-size: 30px; 
}


.iconback{
    position: absolute;
    right: 10px;
    bottom: 1em;
    
    padding: 8px 20px;
    border-radius: 6px;
    /* border: 2px solid #3b3b3bf4; */
    /* border-left: 2px solid #172f53b6; */
    box-shadow: -4px 2px 4px #3a3a3a78;

    color: #202020;
    background: #5491c186;
    background: linear-gradient(110deg, #d3dde9b8 10%, #1a5b984f 100%);
}

.RtoL .MenuR{
    transform:translateX(0);
    transition: 0.2s linear;
}
.R2toL .MenuR2{
    transform:translateX(0);
    transition: 0.2s linear;
}

.LtoR .MenuL{
    transform:translateX(0);
    transition: 0.2s linear;

}

.incom{
    margin: 20px;
    font-size: 24px;
    font-style: italic;
    color: rgb(183, 183, 183);
}
